.video-slider-section {
  position: relative;
  height: 600px;
}

.right.carousel-control, .left.carousel-control {
  display: none;
}

.video-section {
  position: relative;
  height: 650px;
  width: auto;
  background-color: #f3f3f3;
  background-size: cover;
}

.android-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.android-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
  p {
    padding-top: 8px;
  }
}
